body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    position: relative;
    display: inline-block;
}

.calculator img {
    display: block;
    width: 100%;
    height: auto;
}

#color-1 {
    background-color: #323232;
    color: white;
}

#symbols-1 {
    background-color: #ff9f0a;
    color: white;
}

#symbols-2 {
    background-color: #a5a5a5;
    color: black;
}